[env]
build_flags =
	-D SOFTWARE_VERSION=\"0.0.1\"
	-D WIFI_SSID=\"MyWiFi\"
	-D WIFI_PASSWORD=\"MyPassword\"
	-D HOSTNAME=\"Interactive-CZ-Map\"

; Optionally predefine upload_port and upload_speed
; [env:espwroom32]
; monitor_port = COM16
; monitor_filters = time
; upload_speed = 921600
; upload_port = COM16
