body,
textarea,
input,
select {
    background: #121212;
    color: white;
    border: none;
    border-radius: 6px;
    font: 16px 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    margin: 0;
}

textarea,
input,
select {
    outline: none;
    font-size: 14px;
    border: 1px solid #333;
    padding: 10px;
    width: 90%;
    background: #1e1e1e;
}

fieldset {
    border: 1px solid #333;
    border-radius: 8px;
    margin: 20px 0;
    padding: 1em;
}

input[type='checkbox'] {
    float: left;
    width: 20px;
    accent-color: #E86522;
    transform: scale(1.2);
}

textarea:focus,
input:focus,
select:focus {
    border-color: #E86522;
}

h2 {
    text-align: center;
}

a {
    color: white;
    font-weight: bold;
    text-decoration: none;
    transition: 0.1s;
    background-image: linear-gradient(transparent 0%, transparent 90%, #E86522);
}

a:hover,
a:focus {
    color: #E86522;
    text-shadow: 0 0px 25px #E86522;
    font-size: 1.1em;
    background-image: none;
}

.container {
    margin: auto;
    width: 90%;
    max-width: 500px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.msg {
    background: #333333;
    border-left: 5px solid #E86522;
    padding: 1.5em;
    color: white;
    border-radius: 4px;
    margin-top: 10px;
}

.table {
    width: 100%;
    border-collapse: collapse;
}

.table tbody>:nth-child(2n-1) {
    background: #1e1e1e;
}

.btn {
    background: #333333;
    color: white;
    border: 1px solid #E86522;
    box-shadow: 0 0px 15px #E86522;
    cursor: pointer;
    display: inline-block;
    margin: 10px 0;
    width: 100%;
    border-radius: 8px;
    transition: 0.2s;
    font-weight: bold;
    text-align: center;
}

.btn:active,
.btn:focus,
.btn:hover {
    background: #DA5C1E;
    transform: translateY(0);
    box-shadow: 0 0px 25px #E86522;
}

.btn:hover {
    transform: translateY(-2px);
}

.l {
    background: url('data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAABgAAAAYCAYAAADgdz34AAAAAXNSR0IArs4c6QAAAeVJREFUSEvdVTtOw0AQfSNBT00DkaDnAJEgJwHfgIYaIg7ABZAI56BIkDgAB0ACTkCDRMFn8FvNrNabXWy3rOTYznrmzXtvxhZUlqruAuBxCODIrnn/YiE887gXkUUtj+Qblvi8DT7JEnlCgnDxTGAu7q0A3IoIz3FFgCwxA1gVq+sEpMEWw7+O25+LBGwmIoFpAFBVVntjlSxEZF6j3CMpgZx5yCOqSjmIvhKRWaFCyrBjcvDapQr68z5lmSnROADSqu0hMko1JjZlc/N9z/+fuywWH4opmeyMgg9/yWWJXP/i8x0AVX22Cpm4GepDDiQiE4/Nu4iykGrsnCSYlNc8SGfAn01Zr0nkyJkPPlwlD7gX2zJnXQQY2rbWgZ22HApAozudNaD/X0uvjKpE2TwQMPeAc9M7kL0AqrpMzHXz/T3EIZuo6hTAJQCe6UkjIg/xVdFDn521Vq35xBlgO98B2APwZG1O4P1egBFzoEzOpMZ4KiKbowBUlR6QDRclSGeFAOFd5pK2/gT5ez1I5oJe+LeAHUbtTwFcVZh+he/DCBkcgCBe7SeAdwAfAL4BMOkGgB8A22MZUCK2KwGCRO2gRWnyQqNUQxmUnvsXAG/G7LHA8ADA1mCTKxJd2wefxuaLhp/9AudhCbDxcIuxAAAAAElFTkSuQmCC') no-repeat left center;
    background-size: 1em
}